# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old
*.log

# eclipse conf file
.settings
.classpath
.project
.manager

# idea
.idea
*.iml
*.ipr
*.iws

# building
target
build
null
tmp
temp
test-output
build.log
.gradle

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

